.register {
  width: calc(100% - 100px);
  margin: auto;
  margin-top: 50px;
  max-width: 1920px;

  .form-wrapper {
    margin-top: 30px;

    .button {
      margin: 20px 0;
    }

    .input-wrapper {
      margin-top: 20px;
    }
  }
}