.button {
  background-color: $primary;
  border-radius: $border-radius;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border: 1.5px solid $primary;
  padding: 5px 30px;
  font-size: 18px;
  transition: ease-in-out all 200ms;
  outline: none;
  color: white;

  &:hover {
    background: white;
    color: $primary;
  }

  &:focus {
    outline: none;
  }

  &.secondary {
    background: white;
    color: $primary
  }
}

button {
  outline: none;
}