.nav-bar {
  display: flex;
  align-items: center;
  padding-top: 10px;

  .brand {
    margin-left: 50px;

    &.logged-in {
      font-size: 24px;
    }
  }

  .nav-options {
    display: flex;
    margin-left: auto;
    margin-right: 50px;

    .nav-links {
      display: flex;
      align-items: center;
      margin-right: 50px;
      li {
        margin: 0 20px;
        font-size: 24px;
      }
    }

    .btn-cont {
      display: flex;
      align-items: center;
      button {
        margin-right: 30px;
      }
    }
  }
}