.search-cont {
  width: calc(100% - 100px);
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

  .button {
    margin-bottom: 20px;
  }

  .search-box {
    width: 100%;

    .box-head {
      height: 80px;
      border-radius: 7px 7px 0 0;
      background-color: $primary;

      @include until($small-tablet) {
        height: 110px;
      }

      .box-content {
        height: 100%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include until($small-tablet) {
          flex-wrap: wrap;
        }

        .head-title {
          color: white;
          width: 20%;
          min-width: 255px;
        }

        .search-box {
          color: white;
          outline: none;
          font-size: 20px;
          padding: 5px 15px;
          font-weight: bold;
          background-color: $primary;
          border: 2px solid white;
          border-radius: 7px;
          width: 80%;

          @include until($small-tablet) {
            width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }

    .box-body {
      margin-bottom: 70px;
      border: 2px solid $primary;
      border-radius: 0 0 7px 7px;
      min-height: 300px;
      padding: 10px 0;

      .body-element {
        height: 100%;
        width: 95%;
        margin-left: auto;
        margin-right: auto;

        .element-title {
          margin-bottom: 10px;
        }

        .element-desc {
          font-weight: 600;
        }
      }
    }
  }
}

.create-project {
  .textarea-c {
    margin-top: 15px;
  }
  .add-link {
    margin: 20px 0 20px 0;
  }

  .link-cont {
    margin-bottom: 15px;
    display: flex;

    .link-input {
      width: 100%;
      margin-right: 20px;
      @include until(450px) {
        margin-right: 10px;
      }

      .input-label {
        height: 29px;
        @include fluid-type(300px, 450px, 15px, 20px);
      }
    }

    .button {
      margin-top: 40px;
      padding: 0;
      min-width: 60px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      @include until(450px) {
        min-width: 50px;
      }
      svg {
        height: 22px;
        width: 22px;
      }
    }
  }
}